<h1>Upgrade AMI</h1>
<form method="POST" action="/lolvideo/upgradeAmiSubmit">
  <div style="margin-bottom: 20px">
  {{ range .AwsRegions }}
    <span style="margin: 0px 25px">
    {{ if eq .Name $.CurrentRegion }}
      <b>{{ .Name }}</b>
      <input type="hidden" name="region" value="{{ .Name }}" />
    {{ else }}
      <a href="/lolvideo/upgradeAmi?region={{ .Name }}">{{ .Name }}</a>
    {{ end }}
    </span>
  {{ end }}
  </div>
  <div>AMI to upgrade:</div>
    {{ if not .Amis }}
      <div style="margin:10px"><b>Error retrieving AMIs</b></div>
    {{ else }}
      {{ range .Amis }}
      <input type="radio" name="amiId" value="{{ .ImageId }}" id="{{ .ImageId }}"/>
      <label for="{{ .ImageId }}">
	<strong>{{ .Name }}</strong><br/>
	Description: {{ .Description }}<br/>
	Creation Date: {{ .CreationDate }}
      </label><br/><br/>
      {{ end }}
    {{ end }}
  <div>
    <strong>Current Spot Prices</strong>
  </div>
  <ul>
    {{ range $key, $value := .SpotPrices }}
      <li>{{ $key }} = {{ $value }}</li>
    {{ end }}
  </ul>
  <div>Name of new AMI:
    <input type="text" name="newName" />
  </div>
  <div>Description of new AMI:
    <input type="text" name="newDescription" />
  </div>
  <div>Maximum Spot Price:
    <input type="text" name="maxPrice" />
  </div>
  <div>Minutes to wait (default 45):
    <input type="text" name="waitMinutes" value="45" />
  </div>
  <div><input type="submit" value="Submit" /></div>
</form>
